WcfTest/WcfTest/Service References/ASITService1/ASITService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ASITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11422/ASITService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11422/ASITService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11422/ASITService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IASITService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IASITService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IASITService_ASITGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:ASITGetData" />
  </wsdl:message>
  <wsdl:message name="IASITService_ASITGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ASITGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IASITService_SabidGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SabidGetData" />
  </wsdl:message>
  <wsdl:message name="IASITService_SabidGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SabidGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IASITService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IASITService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IASITService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITService/GetData" message="tns:IASITService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITService/GetDataResponse" message="tns:IASITService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ASITGetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITService/ASITGetData" message="tns:IASITService_ASITGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITService/ASITGetDataResponse" message="tns:IASITService_ASITGetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SabidGetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITService/SabidGetData" message="tns:IASITService_SabidGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITService/SabidGetDataResponse" message="tns:IASITService_SabidGetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITService/GetDataUsingDataContract" message="tns:IASITService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITService/GetDataUsingDataContractResponse" message="tns:IASITService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IASITService" type="tns:IASITService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IASITService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASITGetData">
      <soap:operation soapAction="http://tempuri.org/IASITService/ASITGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SabidGetData">
      <soap:operation soapAction="http://tempuri.org/IASITService/SabidGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IASITService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASITService">
    <wsdl:port name="BasicHttpBinding_IASITService" binding="tns:BasicHttpBinding_IASITService">
      <soap:address location="http://localhost:11422/ASITService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>